<% include ./partials/header %>
    <!-- SLIDER REVOLUTION Addons -->


    <section id="slider" class="revslider-wrap full-screen clearfix">

        <div id="rev_slider_103_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase" data-source="gallery" style="background:#aaaaaa;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.5 fullscreen mode -->
            <div id="rev_slider_103_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.5">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-225" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide"
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/assets/include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='linear-gradient(90deg, rgba(134,143,150,1) 0%, rgba(89,97,100,1) 100%)' style='background:linear-gradient(90deg, rgba(34,143,150,1) 0%, rgba(89,97,100,1) 100%)' alt=""
                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption rev-btn  tp-resizeme" id="slide-225-layer-4" data-x="['left','left','left','left']" data-hoffset="['170','120','70','40']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="none"
                            data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1000,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 5; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"></div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-225-layer-1" data-x="['center','center','center','center']" data-hoffset="['500','500','390','220']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none"
                            data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":400,"speed":750,"sfxcolor":"#2f3b4a","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;"><img src="/assets/images/portfolio/full/ronald.jpg" alt="" data-ww="['1000px','1000px','800px','500px']" data-hh="['563px','563px','450','281']" data-no-retina> </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme" id="slide-225-layer-3" data-x="['left','left','left','left']" data-hoffset="['150','100','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']" data-width="none" data-height="none"
                            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">Casa de Misericordia </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme" id="slide-225-layer-2" data-x="['left','left','left','left']" data-hoffset="['150','100','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                            data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">Bienvenidos a Ministerios Betesda </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-226" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide"
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/assets/include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='linear-gradient(120deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)' style='background:linear-gradient(120deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)' alt=""
                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-226-layer-1" data-x="['center','center','center','center']" data-hoffset="['-500','-500','-390','-220']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#243949","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="/assets/images/portfolio/full/praying.jpg" alt="" data-ww="['1000px','1000px','800px','500px']" data-hh="['563px','563px','450px','281px']" data-no-retina> </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption rev-btn  tp-resizeme" id="slide-226-layer-4" data-x="['left','left','left','left']" data-hoffset="['880','760','600','330']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="none"
                            data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 6; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">7pm
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme" id="slide-226-layer-3" data-x="['left','left','left','left']" data-hoffset="['820','700','540','270']" data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']" data-width="none"
                            data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">
                            Jueves </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme" id="slide-226-layer-2" data-x="['left','left','left','left']" data-hoffset="['360','240','110','80']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                            data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['right','right','right','right']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">"Servicio de Oracion" </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-227" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide"
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='linear-gradient(180deg, rgba(22,160,133,1) 0%, rgba(244,208,63,1) 100%)' style='background:linear-gradient(180deg, rgba(22,160,133,1) 0%, rgba(244,208,63,1) 100%)' alt="" data-bgposition="center center"
                            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-227-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['255','255','265','185']" data-width="none"
                            data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#ef8609","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="/assets/images2/radiologo.jpg" alt="" data-ww="['1000px','1000px','800px','800px']" data-hh="['563px','563px','450px','450px']" data-no-retina> </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption   tp-resizeme" id="slide-227-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-90']" data-fontsize="['70','70','70','50']"
                            data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 6; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">Sintoniza nuestra Radio</div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption   tp-resizeme" id="slide-227-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-247','-247','-247','-217']" data-width="none"
                            data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">Radio Misericordia </div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption rev-btn  tp-resizeme" id="slide-227-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','50']" data-width="none" data-height="none"
                            data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":400,"speed":750,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 8; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(55,55,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color: #000;border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">

                            <a style="cursor: pointer" onclick="window.open('https://embedded.rcast.net/?autoplay=false&bgimg=/assets/images2/mic.png&textcolor=FFFFFF&v=2&stream=http://50.22.219.37:20496/;','http://50.22.219.37:20496/;','scrollbars=no,menubar=no,width=784,height=508,resizable=no,toolbar=no,location=no,status=no')">
                                <img style="width: 200px; padding-bottom: 10px; margin-top: -.8rem;" src="/assets/images2/radiologo.jpg" border="0">
                            </a>

                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-228" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide"
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/assets/include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='linear-gradient(140deg, rgba(35,21,87,1) 0%, rgba(68,16,122,1) 28%, rgba(255,19,97,1) 67%, rgba(255,248,0,1) 100%)' style='background:linear-gradient(140deg, rgba(35,21,87,1) 0%, rgba(68,16,122,1) 28%, rgba(255,19,97,1) 67%, rgba(255,248,0,1) 100%)'
                            alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-228-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-255','-255','-265','-185']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#231557","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="/assets/images2/grupoP.jpg" alt="" data-ww="['1000px','1000px','800px','800px']" data-hh="['563px','563px','450px','450px']" data-no-retina> </div>

                        <!-- LAYER NR. 14 -->
                        <div class="tp-caption   tp-resizeme" id="slide-228-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['100','100','50','96']" data-fontsize="['70','70','70','50']"
                            data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 6; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 400; color: #ffffff; letter-spacing: -2px;font-family:Playfair Display;">"Unete a un grupo pequeno" </div>

                        <!-- LAYER NR. 15 -->
                        <div class="tp-caption   tp-resizeme" id="slide-228-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-47','-47','-97','-57']" data-width="none" data-height="none"
                            data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":750,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Roboto Condensed;">Grupos Pequenos </div>

                        <!-- LAYER NR. 16 -->
                        <div class="tp-caption rev-btn  tp-resizeme" id="slide-228-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['280','280','230','260']" data-width="none"
                            data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 8; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:Roboto Condensed;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="/informacion/grupos">INFO</a>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer" style="height: 10px; background: rgba(0,0,0,0.15);"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->

    </section>


    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">
            <div class="container clearfix ">

                <div class="col_one_third">
                    <div class="feature-box fbox-center fbox-effect">
                        <div class="fbox-icon">

                            <a style="cursor: pointer" onclick="window.open('https://embedded.rcast.net/?autoplay=false&bgimg=https://morning-eyrie-46024.herokuapp.com/images/logo.png&textcolor=FFFFFF&v=2&stream=http://50.22.219.37:20496/;','http://50.22.219.37:20496/;','scrollbars=no,menubar=no,width=784,height=508,resizable=no,toolbar=no,location=no,status=no')">
                                <img style="width: 200px; padding-bottom: 10px; margin-top: -.8rem;" src="/assets/images2/radiologo.jpg" border="0">
                            </a>

                        </div>
                        <h3>Radio Misericordia</h3>

                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-center fbox-dark fbox-effect">
                        <div class="fbox-icon">
                            <a href="/sermones">
                                <i class="icon-line2-camcorder"></i>
                            </a>
                        </div>
                        <h3>Sermones</h3>
                    </div>
                </div>

                <div class="col_one_third col_last">
                    <div class="feature-box fbox-center fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <a href="/informacion/desarrollo">
                                <i class="icon-note"></i>
                            </a>
                        </div>
                        <h3>Estudios</h3>
                    </div>
                </div>

                <div class="clear"></div>




            </div>
        </div>
    </section>



    <div class="col_full nobottommargin-lg common-height">

        <div class="col-md-4 dark center col-padding ohidden" style="background-color: #34495e;">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Servicios</h3>
                <p style="line-height: 1.8;">Domingos: 1pm<br>Jueves: 7pm</p>
                <a href="/informacion" class="button button-border button-light button-rounded uppercase nomargin">Mas info</a>
                <i class="icon-cog bgicon"></i>
            </div>
        </div>

        <div class="col-md-4 dark center col-padding ohidden" style="background-color: #1abc9c;">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Vision</h3>
                <p style="line-height: 1.8;">Es el sueño de un lugar en donde los heridos, los deprimidos, los frustrados y los confundidos puedan encontrar amor, aceptación, ayuda, esperanza, perdón, guía y aliento.</p>
                <a href="#" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><i class="icon-angle-right"></i><span>Leer mas</span></a>
                <i class="icon-bulb bgicon"></i>
            </div>
        </div>

        <div class="col-md-4 dark center col-padding ohidden" style="background-color: #e74c3c;">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Seminario</h3>
                <p style="line-height: 1.8;">Se estarán ofreciendo dos clases por día. Para Mayor información comuníquese:<br> (714) 878-3335 o al (562) 881-2192</p>
                <a href="/informacion/seminario" class="button button-border button-light button-rounded uppercase nomargin">Visitar</a>
                <i class="icon-thumbs-up bgicon"></i>
            </div>
        </div>

        <div class="clear"></div>

    </div>




    <% include ./partials/footer %>