<% include ./partials/header %>
    <section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">

        <div class="slider-parallax-inner">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark sermonesHeader">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 class="align-left" data-caption-animate="fadeInUp">Lista de sermones</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <!-- Post Content
					============================================= -->
                <div class=" nobottommargin clearfix">
                    <div id="results"></div>
                    <div class="divider"><i class="icon-circle"></i></div>

                </div>
            </div>

    </section>
    <!-- #content end -->

    <% include ./partials/footer %>