<% include ../partials/header %>



    <!-- Page Title
		============================================= -->
    <section id="page-title" class="page-title-center">

        <div class="container clearfix">
            <h1>
                Grupos Pequeños
            </h1>

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/informacion">informacion</a></li>
                <li class="active">grupos</li>

            </ol>
        </div>

    </section>
    <!-- #page-title end -->

    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">


                <div class="col-md-12 nopadding common-height ohidden">
                    <div class="col-md-6 col-padding" style="background: url('/assets/images2/grupoP.jpg') center center no-repeat; background-size: cover;">
                        <div>&nbsp;</div>
                    </div>
                    <div class="col-md-6 col-padding">

                        <div class="clearfix">
                            <h3>La meta de cada grupo es producir VIDAS CAMBIADAS CON PROPÓSITO. </h3>

                            <div class="col-sm-9 nopadding topmargin-sm clearfix">

                                <div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="400">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-line-layers"></i></a>
                                    </div>
                                    <h3>GRUPOS PEQUEÑOS </h3>
                                    <p>Nuestros Grupos Pequeños fueron diseñados para proporcionar el crecimiento continuo y permanente de nuestros miembros. Y están basados en el trabajo de individuos inspirados, entrenados y equipados para el discipulado.</p>
                                </div>

                                <div class="feature-box fbox-outline fbox-light fbox-effect" data-animate="fadeIn">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-line-monitor"></i></a>
                                    </div>
                                    <h3>VISIÓN</h3>
                                    <p>Para llegar a ver a cada persona, desde las que constituyen el núcleo de nuestra iglesia, hasta las que forman parte de nuestra comunidad, conectada con un grupo pequeño saludable.</p>
                                </div>

                                <div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="200">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-line-eye"></i></a>
                                    </div>
                                    <h3>MISIÓN</h3>
                                    <p>Ayudar a los que están en la búsqueda de las cosas espirituales, a transformarse en creyentes que reflejen vidas conducidas con propósito, motivando a otros a hacer lo mismo.</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- #content end -->


    <% include ../partials/footer %>