<% include ../partials/header %>


    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Historia</h1>

        </div>

    </section>
    <!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <!-- Portfolio Single Image
					============================================= -->
                <div class="col_two_third portfolio-single-image nobottommargin">
                    <a href="#"><img src="/assets/images2/logo2.png" alt=""></a>
                </div>
                <!-- .portfolio-single-image end -->

                <!-- Portfolio Single Content
					============================================= -->
                <div class="col_one_third portfolio-single-content col_last nobottommargin">

                    <!-- Portfolio Single - Description
						============================================= -->
                    <div class="fancy-title title-bottom-border">
                        <h2>Ministerios Betesda</h2>
                    </div>

                    <ul class="portfolio-meta bottommargin">
                        <li><span><i class="icon-user"></i>Visión de:</span> Ronald Vides</li>
                        <li><span><i class="icon-calendar3"></i>Fecha de Origen:</span> Enero 2003</li>
                        <li><span><i class="icon-lightbulb"></i>Nombre:</span> Ministerios Betesda</li>
                        <li><span><i class="icon-group"></i>Miembros:</span> <a href="#">300+</a></li>
                    </ul>
                    <p>Tal y como ha sucedido en la historia de la Iglesia Cristiana, un estudio bíblico fue el principio del cimiento de Ministerios “Betesda”.</p>
                    <p> Fue hasta el tercer mes de reuniones que, ya con una asistencia de 30 personas, se sugirió el buscar un nombre para los que reunían. Se sugirieron varios nombres y al fin, después de seleccionar y descartar los nombres, se escogió
                        el nombre “Bestesda”, cuyo significado es “Casa de Misericordia”.</p>
                    <!-- Portfolio Single - Description End -->

                    <!-- Portfolio Single - Meta
					
                    <!-- Portfolio Single - Meta End -->

                    <!-- Portfolio Single - Share
						============================================= -->
                    <div class="si-share clearfix">
                        <span>Share:</span>
                        <div>
                            <a href="#" class="social-icon si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>
                        </div>
                    </div>

                    <div class="line"></div>

                </div>
            </div>
        </div>
    </section>


    <% include ../partials/footer %>