<% include ../partials/header %>


    <section id="slider" class="slider-parallax full-screen dark informacionHeader">

        <div class="slider-parallax-inner">

            <div class="container clearfix vertical-middle" style="z-index: 3;">



                <div id="del-countdown">
                    <div class=" heading-block title-center nobottomborder">
                        <h1>Siguiente Servicio:</h1>
                    </div>
                    <div id="clock"></div>
                    <div id="units">
                        <span>D</span>
                        <span>H</span>
                        <span>M</span>
                        <span>S</span>
                    </div>
                    <hr>
                    <div class="center">
                        <a href="/sermones" class="button button-3d button-purple button-rounded button-xlarge">Sermones</a>
                        <span class="hidden-xs"> 
                        </div>
                 </div>
              

            </div>

        </div>

    </section>




    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">



                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-clock i-alt"></i></a>
                        </div>
                        <h3> Servicios<span class="subtitle">Domingo 1pm<br>Jueves 7pm</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-map i-alt"></i></a>
                        </div>
                        <h3>Ubicacion<span class="subtitle">1001 E. Lincoln Ave<br>Orange, Ca 92865</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="tel:7148783335"><i class="icon-phone2 i-alt"></i></a>
                        </div>
                        <h3>Contacto<span class="subtitle">714-878-3335</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin col_last">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="/informacion/conocenos"><i class="icon-flag2 i-alt"></i></a>
                        </div>
                        <h3>Conocenos<span class="subtitle">Mas Informacion de nuestra iglesia</span></h3>
                    </div>
                </div>


                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-calendar i-alt"></i></a>
                        </div>
                        <h3>Evangelismo<span class="subtitle">Apoya nuestra ministerios de evengelismo<br>Contacto:<a href="tel:56267447999"> 562-6744-7999</a></span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="/informacion/seminario"><i class="icon-beaker i-alt"></i></a>
                        </div>
                        <h3>Seminario<span class="subtitle">Ofrecemos clases todos los lunes empesando a las 6pm</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="/informacion/grupos"><i class="icon-group i-alt"></i></a>
                        </div>
                        <h3>Grupos Pequenos<span class="subtitle">"Unete al que este cerca"</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin col_last">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-food2 i-alt"></i></a>
                        </div>
                        <h3>StoreHouse<span class="subtitle">Todos Los Jueves se sirve a la comunidad con necesidad comida caliente</span></h3>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="divider divider-short divider-center"><i class="icon-circle-blank"></i></div>

                <div class="heading-block center">
                    <h2>Ultimos Sermones</h2>

                </div>

                <div class="parallax bottommargin-lg dark" style="padding: 60px 0; background-image: url('/assets/images/parallax/calendar.jpg'); background-repeat: repeat-y; height: auto;" data-stellar-background-ratio="0.</div>3">

                    <div id="latest"></div>
                </div>

                <div class="clear"></div>

            </div>


        </div>



    </section>
    <!-- #content end -->


    <div class="parallax bottommargin-lg dark" style="padding: 60px 0; background-image: url('/assets/images/parallax/calendar.jpg'); background-repeat: repeat-y; height: auto;" data-stellar-background-ratio="0.</div>3">

        <div class="container clearfix">

            <div class="heading-block center">
                <h2>Pastores</h2>
                <span>"Si andas cerca visitanos"</span>
            </div>

            <div class="col_one_third nobottommargin">

                <div class="team">
                    <div class="team-image">
                        <img src="/assets/images2/back.jpg" alt="Ronald">
                    </div>
                    <div class="team-desc">
                        <div class="team-title">
                            <h4>Ronald Vides</h4><span>Pastor <small>General</small></span></div>
                        <div class="team-content">Conoce mas a nuestro pastor</div>
                    </div>
                </div>

            </div>

            <div class="col_one_third bottommargin">

                <div class="team">
                    <div class="team-image">
                        <img src="/assets/images2/back.jpg" alt="Eleazar">
                    </div>
                    <div class="team-desc">
                        <div class="team-title">
                            <h4>Eleazar Barajas</h4><span>Pastor <small>Asistente</small></span></div>
                        <div class="team-content">Conoce mas a nuestro pastor</div>
                    </div>
                </div>

            </div>

            <div class="col_one_third nobottommargin col_last">

                <div class="team">
                    <div class="team-image">
                        <img src="/assets/images2/back.jpg" alt="David">
                    </div>
                    <div class="team-desc">
                        <div class="team-title">
                            <h4>David Gonzales</h4><span> Pastor de Musica</span></div>
                        <div class="team-content">Conoce mas a nuestro pastor </div>
                    </div>
                </div>

            </div>

            <div class="clear"></div>

        </div>
    </div>

    <!-- eventos -->

    <div class="container clearfix">

        <div class="col_three_fifth bothsidebar bottommargin">

            <div class="fancy-title title-border">
                <h3>Proximos Eventos</h3>
            </div>

            <div id="posts" class="events small-thumbs">


                <!--entry begin  -->
                <div class="entry clearfix">
                    <div class="entry-image hidden-sm">
                        <a href="#">
                            <img src="/assets/images2/preaching.jpg" alt="Dia de accion de gracias">
                            <div class="entry-date">30<span>Nov</span></div>
                        </a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h2><a href="#">Accion de gracias</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><span class="label label-warning">Public</span></li>
                            <li><a href="#"><i class="icon-time"></i> 1:00 pm</a></li>
                            <li><a href="#"><i class="icon-map-marker2"></i> Orange</a></li>
                        </ul>
                        <div class="entry-content">
                            <a href="#" class="btn btn-default" disabled="disabled">Info</a> <a href="#" class="btn btn-danger">Comunicate</a>
                        </div>
                    </div>
                </div>
                <!--entry end -->

                <!--entry begin -->
                <div class="entry clearfix">
                    <div class="entry-image hidden-sm">
                        <a href="#">
                            <img src="/assets/images2/fe.jpg" alt="navidad">
                            <div class="entry-date">24<span>Dec</span></div>
                        </a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h2><a href="#">Navidad</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><span class="label label-success">Celebremos</span></li>
                            <li><a href="#"><i class="icon-time"></i> 5pm</a></li>
                            <li><a href="#"><i class="icon-map-marker2"></i> Betesda</a></li>
                        </ul>
                        <div class="entry-content">
                            <a href="#" class="btn btn-info">Info</a> <a href="#" class="btn btn-danger">Comunicate</a>
                        </div>
                    </div>
                </div>
                <!--entry end -->


            </div>

        </div>

        <div class="col_two_fifth nobottommargin col_last">

            <div class="fancy-title title-border">
                <h4>Nuestra Ubicacion</h4>
            </div>

            <div id="google-map2" style="height: 300px;" class="gmap nobottommargin"></div>




            <div class="fancy-title title-border">
                <h4>Sermon de la semana</h4>
            </div>

            <iframe src="https://www.youtube.com/embed/hRrcYi5myWY" width="435" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div>

        <div class="clear"></div>

    </div>
    <!-- eventos -->



    <div class="parallax bottommargin-lg dark" style="padding: 60px 0; background-image: url('/assets/images/parallax/calendar.jpg'); background-repeat: repeat-y; height: auto;" data-stellar-background-ratio="0.3">

        <div class="container clearfix">

            <div class="events-calendar">
                <div class="events-calendar-header clearfix">
                    <h2>Calendario de Eventos</h2>
                    <h3 class="calendar-month-year">
                        <span id="calendar-month" class="calendar-month"></span>
                        <span id="calendar-year" class="calendar-year"></span>
                        <nav>
                            <span id="calendar-prev" class="calendar-prev"><i class="icon-chevron-left"></i></span>
                            <span id="calendar-next" class="calendar-next"><i class="icon-chevron-right"></i></span>
                            <span id="calendar-current" class="calendar-current" title="Got to current date"><i class="icon-reload"></i></span>
                        </nav>
                    </h3>
                </div>
                <div id="calendar" class="fc-calendar-container"></div>
            </div>


        </div>

    </div>




    <% include ../partials/footer %>