<% include ../partials/header %>


    <section id="slider" class="slider-parallax full-screen dark" style="overflow: hidden; background: url('/assets/images2/preaching.jpg') no-repeat center center;background-size: cover;">

        <div class="slider-parallax-inner">

            <div class="container clearfix vertical-middle" style="z-index: 3;">



                <div id="del-countdown">
                    <div class=" heading-block title-center nobottomborder">
                        <h1 style="color: rgb(87, 89, 160)">Siguiente Servicio:</h1>
                    </div>
                    <div id="clock"></div>
                    <div id="units">
                        <span>Diaz</span>
                        <span>Horas</span>
                        <span>Minutos</span>
                        <span>Segundos</span>
                    </div>
                    <div class="center">
                        <a href="/sermones" class="button button-3d button-purple button-rounded button-xlarge">Sermones</a>
                        <span class="hidden-xs"> 
                    </div>
                </div>


            </div>

        </div>

    </section>




    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">



                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-calendar i-alt"></i></a>
                        </div>
                        <h3> Servicios<span class="subtitle">Domingo 1pm<br>Jueves 7pm</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-map i-alt"></i></a>
                        </div>
                        <h3>Ubicacion<span class="subtitle">1001 E. Lincoln Ave<br>Orange, Ca 92865</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-microphone2 i-alt"></i></a>
                        </div>
                        <h3>Pastor General<span class="subtitle">Ronald Vides</span></h3>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin col_last">
                    <div class="feature-box fbox-effect fbox-center fbox-outline fbox-dark nobottomborder">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-flag2 i-alt"></i></a>
                        </div>
                        <h3>Conocenos<span class="subtitle">Mas Informacion de nuestra iglesia</span></h3>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="divider divider-short divider-center"><i class="icon-circle-blank"></i></div>

                <div class="heading-block center">
                    <h2>Ultimos Sermones</h2>
                    <span>De Ministerios Betesda</span>
                </div>

                <div id="latest"></div>


                <div class="clear"></div>

            </div>


        </div>

        </div>

    </section>
    <!-- #content end -->





    <% include ../partials/footer %>