<% include ../partials/header %>




    <section id="slider" class="slider-parallax seminarioHeader" data-height-lg="600" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
        <div class="slider-parallax-inner">

            <div class="container clearfix">
                <div class="vertical-middle dark center">

                    <div class="heading-block nobottommargin center">
                        <h1>
                            <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
									Diploma en  <span class="t-rotate">Ministerios Cristianos|Teología|PLANTACION DE IGLESIAS</span>
                            </span>
                        </h1>
                        <span class="hidden-xs">“… estad siempre preparados para presentar defensa con mansedumbre y reverencia ante todo el que os demande razón de la esperanza que hay en vosotros.”</span>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Page Title
		============================================= -->
    <section id="page-title" class="page-title-center">

        <div class="container clearfix">
            <h1>Seminario</h1>
            <span>Lunes |-->6-11pm</span>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Seminario</li>

            </ol>
        </div>

    </section>
    <!-- #page-title end -->

    <!-- Content
        ============================================= -->
    <div id="informacion"></div>
    <section id="content">

        <div class="content-wrap">


            <div class="container clearfix">

                <div id="side-navigation">

                    <div class="col_one_third nobottommargin">

                        <ul class="sidenav">
                            <li class="ui-tabs-active"><a href="#proposito"><i class="icon-screen"></i>Declaracion de Proposito<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#propositoCld"><i class="icon-magic"></i>Proposito de C.L.D<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#cld"><i class="icon-star3"></i>C.L.D<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#requisitos"><i class="icon-checkmark"></i>Requisitos<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#facultad"><i class="icon-users2"></i>Facultad<i class="icon-chevron-right"></i></a></li>
                        </ul>

                    </div>

                    <div class="col_two_third col_last nobottommargin">

                        <div id="proposito">
                            <div class="heading-block">
                                <h3>DECLARACIÓN DE PROPÓSITO</h3>
                                <span>Ministerios Betesda</span>
                            </div>
                            <img src="/assets/images2/stacked.jpg" alt="Image" class="alignleft" style="max-width: 320px;">
                            <p>
                                “Nuestro propósito es capacitar y equipar a líderes para comunicar efectivamente la Palabra de Dios para llevar a cabo la de evangelización. Para guiar en la , discipular a otros hacia la madurez espiritual, ministrar a las necesidades humanas en el nombre
                                de Jesús y establecer iglesias para el engrandecimiento del reino de Dios. “… estad siempre preparados para presentar defensa con mansedumbre y reverencia ante todo el que os demande razón de la esperanza que hay en vosotros.”
                                (1 Pedro 3:15) “Y él mismo constituyó a unos, apóstoles; a otros, profetas; a otros, evangelistas; a otros, pastores y maestros, a fin de perfeccionar a los santos para la obra del ministerio, para la edificación del cuerpo
                                de Cristo” (Efesios 4:11-12)
                            </p>
                        </div>

                        <div id="propositoCld">
                            <div class="heading-block">
                                <h3>PROPOSITO DE C.L.D</h3>
                                <span>Ministerios Betesda</span>
                            </div>

                            <img src="/assets/images2/books.jpg" alt="Image" class="aligntop" style="max-width: 320px;">
                            <p>
                                El CLD se ha establecido para proveer diplomas sobre una educación Bíblica, Teológica, Vocacional. Acreditada para pastores, misioneros y líderes de Iglesias. El objetivo del programa CLD es equipar líderes de las Iglesias para poder:
                            </p>

                            <ul class="process-steps bottommargin clearfix">
                                <li>
                                    <a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
                                    <h5>Comunicar efectivamente el evangelio</h5>
                                </li>
                                <li>
                                    <a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
                                    <h5>Dirigir la Adoración Litúrgica</h5>
                                </li>
                                <li>
                                    <a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
                                    <h5>Guiar a los creyentes a la madurez Espiritual</h5>
                                </li>
                                <li>
                                    <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
                                    <h5>Ministrar a las necesidades humanas en el nombre de Jesús</h5>
                                </li>
                                <li>
                                    <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">5</a>
                                    <h5>Establecer Iglesias en diferentes culturas</h5>
                                </li>
                            </ul>

                        </div>

                        <div id="cld">
                            <div class="heading-block">
                                <h3>C.L.D</h3>
                                <span>Ministerios Betesda</span>
                            </div>
                            <img src="/assets/images2/bunch.jpg" alt="Image" class="aligntop" style="max-width: 320px;">
                            <p>
                                Contextualized Leadership Development Desarrollo de liderazgo Étnico, es un programa de educación teológica unido al: Golden Gate Baptist Theological Seminary Strawberry Point, Mill Valley, CA 94941 Y a la Extensión de Idiomas de la Iglesia Una división
                                de la junta de misiones Domesticas, en conjunto con la, Asociación Bautista del Sur de California, Del condado de Orange y la iglesia Ministerios Betesda
                            </p>
                        </div>
                        <div id="requisitos">
                            <div class="heading-block">
                                <h3>Requisitos</h3>
                                <span>Ministerios Betesda</span>
                            </div>
                            <img src="/assets/images2/bunch.jpg" alt="Image" class="aligntop" style="max-width: 320px;">
                            <ul class="process-steps bottommargin clearfix">
                                <li>
                                    <a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
                                    <h5>Solicitud de Admisión (Online) </h5>
                                </li>
                                <li>
                                    <a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
                                    <h5>Recomendación de la iglesia </h5>
                                </li>
                                <li>
                                    <a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
                                    <h5>Ser cristiano por más de un año </h5>
                                </li>
                                <li>
                                    <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
                                    <h5>Ser consagrado y fiel al Señor</h5>
                                </li>
                            </ul>
                        </div>

                        <div id="facultad">
                            <div class="heading-block">
                                <h3>Facultad</h3>
                                <span>Ministerios Betesda</span>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">Dr. Ronald Vides. DMin.Th. </li>
                                <li class="list-group-item">Dr. Eleazar Barajas.</li>
                                <li class="list-group-item">Rev. Miguel Martinez MDiv.</li>
                                <li class="list-group-item">Rev. Miguel Zuñiga</li>
                                <li class="list-group-item">Rev. Guillermo Dominguez</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

    </section>
    <!-- #content end -->


    <% include ../partials/footer %>