<% include ../partials/header %>


    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Valores</h1>

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/informacion">Informacion</a></li>
                <li class="active">Services</li>
            </ol>
        </div>

    </section>
    <!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">



            <div class="container clear-bottommargin clearfix">

                <div class="heading-block center">
                    <h4>Somos una iglesia con Propósito que se basa en valores.</h4>
                </div>

                <div class="row">

                    <div class="col-md-4 bottommargin">
                        <img data-animate="fadeInLeftBig" src="/assets/images/portfolio/full/ronald.jpg" alt="iPhone" class="center-block">
                    </div>


                    <div class="col-md-4 col-sm-6  bottommargin">

                        <div class="col_full">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA APLICACIÓN DE LAS ESCRITURAS.</h3>
                                <p>“No se contenten sólo con escuchar la palabra, pues así se engañan ustedes mismos. Llévenla a la práctica.” Santiago 1:22 (NVI)</p>
                            </div>

                        </div>

                        <div class="col_full">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS EL SERVICIO</h3>
                                <p>“Porque… el Hijo del hombre no vino para que le sirvan, sino para servir y para dar su vida en rescate por una multitud.” Mateo 20:28 (DHH) “Ciertamente David, después de servir a su propia generación conforme al propósito
                                    de Dios,…” Hechos 13:16 (NVI) “… sírvanse los unos a los otros por amor.” Gálatas 5:13b (DHH)</p>
                            </div>

                        </div>

                        <div class="col_full nobottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LAS DIFERENCIAS ENTRE LAS PERSONAS.</h3>
                                <p>“Hay diversas maneras de servir, pero un mismo Señor. Hay diversas funciones, pero es un mismo Dios el que hace todas las cosas en todos.” 1 Corintios 12:5-6 (NVI) “Por tanto, acéptense mutuamente, así como Cristo los aceptó
                                    a ustedes para gloria de Dios.” Romanos 15:7 (NVI) “Llénenme de alegría viviendo todos en armonía, unidos por un mismo amor, por un mismo espíritu y por un mismo propósito.” Filipenses 2:2 (DHH)</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4 col-sm-6 topmargin bottommargin">

                        <div class="col_full">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA EXCELENCIA</h3>
                                <p>“Cada uno debe examinar su propia conducta. Si es buena, podrá sentirse satisfecho de sus acciones, pero no debe compararse con los demás.” Gálatas 6:4 (TLA)</p>
                            </div>

                        </div>

                        <div class="col_full">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS COMO RESPONDEN LAS PERSONAS A LA ESCRITURA</h3>
                                <p>“El necio cree que todo lo que hace está bien, pero el sabio atiende los consejos.” Proverbios 12:15 (DHH) “Adquiere la verdad y no la vendas; adquiere sabiduría, disciplina e inteligencia.” Proverbios 23:23 (RVA)</p>
                            </div>

                        </div>

                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA AUTENTICIDAD.</h3>
                                <p>“Nos satisface saber que nos hemos comportado bien, y que hemos sido sinceros con todos, especialmente con ustedes. No lo hicimos guiados por nuestra propia prudencia, sino con la ayuda de Dios, y gracias a su gran amor.”
                                    2 Corintios 1:12 (BLS)</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS EL APRENDIZAJE CONSTANTE.</h3>
                                <p>“El que aprende y pone en práctica lo aprendido, se estima a sí mismo y prospera.” Proverbios 19:8 (DHH) “Si el hacha pierde su filo, y no se vuelve a afilar, hay que golpear con más fuerza. El éxito radica en la acción
                                    sabia y bien ejecutada.” Eclesiastés 10:10 (NVI)</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA SIMPLICIDAD.</h3>
                                <p>“Tan sólo he hallado lo siguiente: que Dios hizo perfecto al género humano, pero éste se ha buscado demasiadas complicaciones.»” Eclesiastés 7:29 (NVI) “Hermanos en Cristo, cuando fui a hablarles de los planes que Dios
                                    tenía en secreto, no lo hice con palabras difíciles, ni traté de impresionarlos.” 1 Corintios 2:1 (BLS)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS EL TRABAJO EN EQUIPO.</h3>
                                <p>“Pues bien, ustedes son el cuerpo de Cristo, y cada uno de ustedes es un miembro con su función particular.” 1 Corintios 12:27 (DHH) “Más valen dos que uno, porque obtienen más fruto de su esfuerzo.” Eclesiastés 4:9 (NVI)
                                    “así también nosotros, aunque somos muchos, formamos un solo cuerpo en Cristo y estamos unidos unos a otros como miembros de un mismo cuerpo” Romanos 12:5 (DHH)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA INNOVACIÓN.</h3>
                                <p>“Los sabios e inteligentes adquieren los conocimientos que buscan.” Proverbios 18:15 (DHH)</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA LIBERTAD Y LA FLEXIBILIDAD.</h3>
                                <p>“… y donde está el Espíritu del Señor, allí hay libertad.” 2 Corintios 5:17 (RV95) “Hermanos, Dios los llamó a ustedes a ser libres. Pero no usen esa libertad como pretexto para hacer lo malo. Al contrario, ayúdense unos
                                    a otros por amor.” Gálatas 5:13 (BLS)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS EL HUMOR.</h3>
                                <p>“Gran remedio es el corazón alegre, pero el ánimo decaído seca los huesos.” Proverbios 17:22 (NVI) “El corazón alegre se refleja en el rostro, el corazón dolido deprime el espíritu.” Proverbios 15:13 (NVI)</p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS EL OPTIMISMO.</h3>
                                <p>“Entonces Jesús, mirándolos, les dijo: —Para los hombres es imposible; pero no para Dios. Porque para Dios todas las cosas son posibles.” Marcos 10:27 (RVA) “—Que se haga conforme a la fe que ustedes tienen.” Mateo 9:29
                                    (DHH)
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS EL CRECIMIENTO.</h3>
                                <p>“Cristo es quien va uniendo a cada miembro de la iglesia, según sus funciones, y hace que cada uno trabaje en armonía, para que la iglesia vaya creciendo y cobrando más fuerza por causa del amor.” Efesios 4:16 (BLS) “…unidos
                                    a la cabeza, la cual hace crecer todo el cuerpo al alimentarlo y unir cada una de sus partes conforme al plan de Dios.” Colosenses 2:19 (DHH)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col_full bottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA CONSAGRACIÓN DE LOS CREYENTES.</h3>
                                <p>“Hicieron más de lo que esperábamos. Primero se entregaron a sí mismos al Señor, y después a nosotros. De este modo, hicieron lo que Dios esperaba de ellos.” 2 Corintios 8:5 (TLA)</p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="col_full nobottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LA INFORMALIDAD.</h3>
                                <p>“El corazón tranquilo da vida al cuerpo,…” Proverbios 14:30 (NVI)</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col_full nobottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LOS DONES ESPIRITUALES DE LA GENTE.</h3>
                                <p>“Dios nos ha dado diferentes dones, según lo que él quiso dar a cada uno.” Romanos 12:6 (DHH) “Cada uno ponga al servicio de los demás el don que haya recibido, administrando fielmente la gracia de Dios en sus diversas
                                    formas.” 1 Pedro 4:10 (NVI)</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col_full nobottommargin">

                            <div class="feature-box fbox-plain fbox-small fbox-dark">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>VALORAMOS LAS DIFERENCIAS ENTRE LAS PERSONAS.</h3>
                                <p>“Hay diversas maneras de servir, pero un mismo Señor. Hay diversas funciones, pero es un mismo Dios el que hace todas las cosas en todos.” 1 Corintios 12:5-6 (NVI) “Por tanto, acéptense mutuamente, así como Cristo los aceptó
                                    a ustedes para gloria de Dios.” Romanos 15:7 (NVI) “Llénenme de alegría viviendo todos en armonía, unidos por un mismo amor, por un mismo espíritu y por un mismo propósito.” Filipenses 2:2 (DHH)</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>




    </section>

    <% include ../partials/footer %>