<% include ../partials/header %>

    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Vision</h1>

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/informacion">Informacion</a></li>
                <li class="active">Vision</li>
            </ol>
        </div>

    </section>
    <!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col_one_third">
                    <div class="feature-box fbox-rounded fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>

                        <p>Es el sueño de un lugar en donde los heridos, los deprimidos, los frustrados y los confundidos puedan encontrar amor, aceptación, ayuda, esperanza, perdón, guía y aliento.</p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-rounded fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>

                        <p>Es el sueño de comunicar las Buenas Nuevas de Jesucristo a los cientos de miles de hispanos en el Condado de Orange y el Mundo.</p>
                    </div>
                </div>

                <div class="col_one_third col_last">
                    <div class="feature-box fbox-rounded fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>

                        <p>Es el sueño de guiar a las personas a la madurez espiritual a través de estudios bíblicos, grupos pequeños, seminarios, retiros y de una escuela bíblica para nuestros miembros.</p>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col_one_third bottommargin">
                    <div class="feature-box fbox-rounded fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>

                        <p>Es el sueño de preparar a cada creyente para un ministerio significativo ayudándole a descubrir los dones y talentos que Dios le ha dado.</p>
                    </div>
                </div>

                <div class="col_one_third bottommargin">
                    <div class="feature-box fbox-rounded fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>

                        <p>Es el sueño de enviar Igle-plantadores y obreros por todo los Estados Unidos, América Latina, y las naciones, dotándolos con la autoridad para tener una misión personal e integral en este mundo.</p>
                    </div>
                </div>

                <div class="col_one_third bottommargin col_last">
                    <div class="feature-box fbox-rounded fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>

                        <p>Es el sueño de comenzar, por lo menos, una nueva iglesia hija cada año.</p>
                    </div>
                </div>

                <div class="col_one_third">

                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>Plan <span>P.E.A.C.E.</span>.</h4>
                    </div>

                    <p>Es el sueño de enviar a nuestros miembros a los miles de proyectos a corto plazo de nuestro Plan P.E.A.C.E. en los Estados unidos, el continente hispano americano y las naciones.</p>

                </div>

                <div class="col_one_third">

                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>Nuestra <span>Mision</span>.</h4>
                    </div>

                    <p>Es el sueño de comenzar, por lo menos, una nueva iglesia hija cada año.</p>

                </div>

                <div class="col_one_third col_last">

                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>Nuestro <span>Sueño</span>.</h4>
                    </div>

                    <p>Es el sueño de tener, por lo menos de 10-12 hectáreas de tierra para construir una iglesia regional para el Condado de Orange, con dependencias hermosas pero sencillas, que incluyan un centro de adoración para miles de personas, un
                        centro de consejería y oración, salones de clase para estudios bíblicos y para la preparación de los ministros laicos y un área de recreación. Todo esto se creará para ministrar a la persona en su totalidad, espiritual, emocional,
                        física y socialmente, en medio de un paisaje tranquilo, con árboles y flores, que resulte inspirador.</p>

                </div>


            </div>
        </div>
    </section>


    <% include ../partials/footer %>